@page "/Stat/Edit/{statId:int}"
@inject IStatData statData
@inject NavigationManager UriHelper
<h3>Edit</h3>

<StatForm ButtonText="Edit Stat" SelectedStat="@SelectedStat"
          OnValidSubmit="@EditExistingStat" AllStatGroups="@AllStatGroups" />


@code {
    [Parameter] public int statId { get; set; }

    StatModel SelectedStat = new StatModel();


    List<StatGroupModel> AllStatGroups = new List<StatGroupModel>();
    protected async override Task OnParametersSetAsync()
    {
        CoreStatModel model = await statData.GetStatByID(statId);
        AllStatGroups = await statData.GetAllStatGroups();
        SelectedStat = ElebrisBlazorUtilities.CovertFromDBModel(model);
    }
    public async Task EditExistingStat()
    {
        CoreStatModel dbModel = ElebrisBlazorUtilities.CovertToDBModel(SelectedStat);
        int id = await statData.UpdateStat(dbModel);
        NavigateToFetchData();
    }
    public void NavigateToFetchData()
    {
        UriHelper.NavigateTo("/Stat/FetchData");
    }
}

@*https://codewithmukesh.com/blog/blazor-crud-with-entity-framework-core/*@