@page "/Stat/Edit/{statId:int}"
@inject IStatData statData
@inject NavigationManager UriHelper
@attribute [Authorize(Roles="admin, superuser")]
<h3>Edit</h3>

<StatForm ButtonText="Update" SelectedStat="@SelectedStat"
          OnValidSubmit="@EditExistingStat" AllStatGroups="@AllStatGroups" />


@code {
    [Parameter] public int statId { get; set; }

    StatModel SelectedStat = new StatModel();


    List<StatGroupModel> AllStatGroups = new List<StatGroupModel>();
    protected async override Task OnParametersSetAsync()
    {
        SelectedStat = await statData.GetStatByID(statId);
        AllStatGroups = await statData.GetAllStatGroups();
    }
    public async Task EditExistingStat()
    {
        int id = await statData.UpdateStat(SelectedStat);
        NavigateToFetchData();
    }
    public void NavigateToFetchData()
    {
        UriHelper.NavigateTo("/Stat/FetchData");
    }
}

@*https://codewithmukesh.com/blog/blazor-crud-with-entity-framework-/*@