@page "/StatNavOptions"
@inject NavigationManager UriHelper

<h3>Stat Page</h3>
<button @onclick=@ViewStatList>View Stats</button>
<button @onclick=@ViewDerivedStatList>View Derived Stats</button>
<button @onclick=@ViewStatTagList>View Stat Tags</button>
@code {
    void ViewStatList()
    {
        UriHelper.NavigateTo("/Stat/FetchData");
    }
    void ViewDerivedStatList()
    {
        UriHelper.NavigateTo("/DerivedStat/FetchData");
    }
    void ViewStatTagList()
    {
        UriHelper.NavigateTo("/StatTag/FetchData");
    }
}  