@page "/DerivedStat/Create"
@inject NavigationManager UriHelper
@inject IStatData statData
<h3>Create</h3>
<DerivedStatForm ButtonText="Create DerivedStat" SelectedDerivedStat="@SelectedDerivedStat"
                 OnValidSubmit="@CreateNewDerivedStat" AllStats="@AllStats" />
@code {
    DerivedStatModel SelectedDerivedStat = new DerivedStatModel();
    public List<StatModel> AllStats { get; set; } = new List<StatModel>();

    protected async override Task OnParametersSetAsync()
    {
        AllStats = await statData.GetAllStats();
    }
    async Task CreateNewDerivedStat()
    {
       
        await statData.CreateDerivedStat(SelectedDerivedStat);
        NavigateToFetchData();
    }
    public void NavigateToFetchData()
    {
        UriHelper.NavigateTo("/DerivedStat/FetchData");
    }

    private string ReturnStatName(int id)
    {
        if (id > 0)
        {
            var stat = AllStats.FirstOrDefault(x => x.Id == id);
            return stat.StatName;
        }
        else
        {
            return "Null";
        }
    }
}