@page "/DerivedStat/Edit/{DerivedStatId:int}"
@inject IStatData statData
@inject NavigationManager UriHelper
@attribute [Authorize(Roles="admin, superuser")]
<h3>Edit</h3>

<DerivedStatForm ButtonText="Update" SelectedDerivedStat="@SelectedDerivedStat"
                 OnValidSubmit="@EditExistingDerivedStat" AllStats="@AllStats" />


@code {
    [Parameter] public int DerivedStatId { get; set; }

    DerivedStatModel SelectedDerivedStat = new DerivedStatModel();
    public List<StatModel> AllStats { get; set; } = new List<StatModel>();

    protected async override Task OnParametersSetAsync()
    {
        SelectedDerivedStat = await statData.GetDerivedStatByID(DerivedStatId);
        AllStats = await statData.GetAllStats();
    }
    public async Task EditExistingDerivedStat()
    {
        int id = await statData.UpdateDerivedStat(SelectedDerivedStat);
        NavigateToFetchData();
    }
    public void NavigateToFetchData()
    {
        UriHelper.NavigateTo("/DerivedStat/FetchData");
    }
}

@*https://codewithmukesh.com/blog/blazor-crud-with-entity-framework-/*@