@inject TokenProvider TokenProvider 
<CascadingAuthenticationState>

    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <p>Welcome to my CRUD Application. This is a side project I used to work on my SQL, C# and Blazor,
                as well as game design. There is role-based authentication for CRUD most operations.
                This is made using Blazor Server so I chose not to have a standalone API. 
                The App, and database(MSSQL) are both hosted in Azure.  </p>
                <p>You can find the repository at https://github.com/Balthius/Elebris-CRUD </p>
                <AuthorizeView Roles="Admin, superuser">
                    <Authorized>
                        <p> You have Editing Priviliges</p>
                    </Authorized>
                    <NotAuthorized>
                        <p>You do Not have Editing Priviliges</p>
                    </NotAuthorized>
                </AuthorizeView>
            </LayoutView>
        </NotFound>
    </Router>

</CascadingAuthenticationState>

@code   
{
    [Parameter]
    public TokenProvider InitialState { get; set; }

    protected override Task OnInitializedAsync()
    {
        TokenProvider.XsrfToken = InitialState.XsrfToken;
        return base.OnInitializedAsync();
    }
}

@*https://docs.microsoft.com/en-us/aspnet/core/blazor/fundamentals/routing?view=aspnetcore-5.0*@