@page "/Equipment/Create"
@inject NavigationManager UriHelper
@inject IEquipmentData equipData

@inject ICachedLists cachedList

<h3>Create</h3>
<EquipmentForm ButtonText="Create Equipment" SelectedEquipment="@SelectedEquipment" EquipmentGroups="@EquipmentGroups"
               OnValidSubmit="@CreateNewEquipment" />
@code {
    EquipmentModel SelectedEquipment = new EquipmentModel();

    public List<EquipmentGroupModel> EquipmentGroups { get; set; } = new List<EquipmentGroupModel>();
    protected async override Task OnInitializedAsync()
    {
        EquipmentGroups = cachedList.CachedEquipmentGroups;
    }
    async Task CreateNewEquipment()
    {
        EquipmentModel dbModel = ModelConverter.CovertToDBModel(SelectedEquipment);

        int id = await equipData.CreateEquipment(dbModel);
        NavigateToFetchData();
    }
    public void NavigateToFetchData()
    {
        UriHelper.NavigateTo("/Equipment/FetchData");
    }
}