@page "/EquipmentNavOptions"
@inject NavigationManager UriHelper

<h3>Stat Page</h3>
<button @onclick=@ViewEquipmentList>View Equipment</button>
@code {
    void ViewEquipmentList()
    {
        UriHelper.NavigateTo("/Equipment/FetchData");
    }
  
}  