@page "/Character/Edit/{characterId:int}"
@inject ICharacterData charaData
@inject NavigationManager UriHelper
@attribute [Authorize(Roles="admin, superuser")]
@inject ICachedLists cachedList
<h3>Edit</h3>

<CharacterForm ButtonText="Update" SelectedCharacter="SelectedCharacter" Races="@Races"
               OnValidSubmit="EditExistingCharacter" />


@code {
    [Parameter] public int characterId { get; set; }

    CharacterModel SelectedCharacter = new CharacterModel();
    public List<CharacterRaceModel> Races { get; set; }
    protected async override Task OnParametersSetAsync()
    {
        SelectedCharacter = await charaData.GetCharacterByID(characterId);
        Races = cachedList.CachedRaces;
    }
    public async Task EditExistingCharacter()
    {
        int id = await charaData.UpdateCharacter(SelectedCharacter);
        NavigateToFetchData();
    }
    public void NavigateToFetchData()
    {
        UriHelper.NavigateTo("/Character/FetchData");
    }
}

@*https://codewithmukesh.com/blog/blazor-crud-with-entity-framework-/*@