@page "/ClassNavOptions"
@inject NavigationManager UriHelper

<h3>Class Page</h3>
<button @onclick=@ViewElebrisClassList>View All Classes</button>
<button @onclick=@ViewElebrisClassList>View All Class Roles</button>
@code {

    void ViewElebrisClassList()
    {
        UriHelper.NavigateTo("/ElebrisClass/FetchData");
    }
    void ViewElebrisClassRoleList()
    {
        UriHelper.NavigateTo("/ClassRole/FetchData");
    }


}  