@page "/ElebrisClass/Create"
@inject NavigationManager UriHelper
@inject IElebrisClassData charaClassData
@inject ICachedLists cachedList

<h3>Create</h3>
<ElebrisClassForm ButtonText="Create Character Class" SelectedClass="@SelectedClass" AttributeStats="@AttributeStats"
               OnValidSubmit="@CreateNewCharacter" />
@code {
    ElebrisClassModel SelectedClass = new ElebrisClassModel();
    List<StatModel> AttributeStats = new List<StatModel>();
    protected async override Task OnInitializedAsync()
    {
        AttributeStats = cachedList.CachedAttributes;
    }
    async Task CreateNewCharacter()
    {
       
        int id = await charaClassData.CreateElebrisClass(SelectedClass);
        NavigateToFetchData();
    }
    public void NavigateToFetchData()
    {
        UriHelper.NavigateTo("/ElebrisClass/FetchData");
    }
}