@page "/ElebrisClass/Edit/{classId:int}"
@inject IElebrisClassData classData
@inject ICachedLists cachedList
@inject NavigationManager UriHelper
<h3>Edit</h3>

<ElebrisClassForm ButtonText="Update" SelectedClass="@SelectedClass" AttributeStats="@AttributeStats"
                    OnValidSubmit="EditExistingCharacter" />


@code {
    [Parameter] public int classId { get; set; }

    ElebrisClassModel SelectedClass = new ElebrisClassModel();

    List<StatModel> AttributeStats = new List<StatModel>();

    protected async override Task OnParametersSetAsync()
    {
        SelectedClass = await classData.GetElebrisClassByID(classId);

        AttributeStats = cachedList.CachedAttributes;
    }
    public async Task EditExistingCharacter()
    {
        int id = await classData.UpdateElebrisClass(SelectedClass);
        NavigateToFetchData();
    }
    public void NavigateToFetchData()
    {
        UriHelper.NavigateTo("/ElebrisClass/FetchData");
    }
}

@*https://codewithmukesh.com/blog/blazor-crud-with-entity-framework-/*@