@page "/ClassRole/Edit/{roleId:int}"
@inject NavigationManager UriHelper
@inject IElebrisClassData classData
@attribute [Authorize(Roles="admin, superuser")]
<h3>Edit</h3>

<ClassRoleForm ButtonText="Update" SelectedRole="@SelectedRole"
               OnValidSubmit="@EditExistingRole" />


@code {
    [Parameter] public int roleId { get; set; }

    ClassRoleModel SelectedRole = new ClassRoleModel();

    protected async override Task OnInitializedAsync()
    {
    }
    protected async override Task OnParametersSetAsync()
    {
        SelectedRole = await classData.GetRoleByID(roleId);

    }
    public async Task EditExistingRole()
    {
        int id = await classData.UpdateClassRoles(SelectedRole);
        NavigateToFetchData();
    }
    public void NavigateToFetchData()
    {
        UriHelper.NavigateTo("/ClassRole/FetchData");
    }
}

@*https://codewithmukesh.com/blog/blazor-crud-with-entity-framework-/*@