@page "/RoleNavOptions"
@inject NavigationManager UriHelper

<h3>Stat Page</h3>
<button @onclick=@ViewRoleList>View Roles</button>
@code {
    void ViewRoleList()
    {
        UriHelper.NavigateTo("/ClassRole/FetchData");
    }

}  